// .main {
//     @media (min-width: 51rem){
//         position: relative;
//         max-width: calc(70%);
//     }

//     @media (min-width: 66.5rem){
//         margin-left: calc(264px);
//     }
// }

// .side-bar {
//     @media (min-width: 66.5rem){
//         width: auto;
//         min-width: 264px;
//     }
// }
// .site-nav .site-footer .site-header{
//     width: 50%;    
// }


.site-footer {
    text-align: right; font-weight: 0; font-size: 0.1pt;
}

a.site-title.lh-tight {
    padding-right: 0.25em;
}

.site-logo {
    text-align: center;
    background-position: right, center;
    margin-right: 0%;
}

.nav-list-link {
    font-size: 18px; text-align: right;
}

a {
    overflow: hidden;
    text-overflow: ellipsis;
    // white-space: nowrap;
  }

li {
    margin: 0.25em 0.0em 0.25em 0.0em;
}

code {
    white-space : pre-wrap !important;
}