// $body-background-color: #e8f2e8;
$sidebar-color: #e8f2e8;
$border-color:  #e8f2e8;

// $body-text-color: $grey-lt-300;
$body-heading-color: $blue-300;
$nav-child-link-color: #e8f2e8;
// $search-result-preview-color: $grey-dk-000;

$link-color: #0c710f;
$btn-primary-color: $blue-200;
// $base-button-color: $grey-dk-250;
// $base-button-color: #FFC72C;


// $code-background-color: $grey-dk-250;
// $search-background-color: $grey-dk-250;
// $table-background-color: $grey-dk-250;
$feedback-color: darken($sidebar-color, 3%);
 