{% comment %} <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan style='display:none;' id='cnzz_stat_icon_1261461194'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1261461194%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script> {% endcomment %}
{% comment %} 
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cspan style='display:none;' id='cnzz_stat_icon_123456789'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s96.cnzz.com/z_stat.php%3Fid%3D1261461194%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script> {% endcomment %}

{% comment %} <script type="text/javascript">
function zoom() {
    document.body.style.zoom = "100%" 
}
zoom()
</script> {% endcomment %}

<script>
function removeElementsByClass(className){
    var elements = document.getElementsByClassName(className);
    while(elements.length > 0){
        elements[0].parentNode.removeChild(elements[0]);
    }
}
removeElementsByClass("site-footer")
</script>

